 .formControl.error input,
 .formControl.error textarea
{
    border: 2px red solid;
}

 .formControl.error span
 {
     color: red;
 }

 .formSummaryError {
     border: red 1px solid;
     padding: 5px;
     color: red;
 }
