.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: auto;
    height: 950px;

    grid-template-areas:
  "h h"
  "n c"
  "f f";
    grid-template-rows: 60px 1fr 100px;
    grid-template-columns: 2fr 10fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: blanchedalmond;
}
