.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #ff00e5;
}

.dialogsItems .dialog {

}

.messages {
    padding: 10px;
}

.messages .message {

}